include LICENSE
include README.rst
include setup.py
include build_ffi.py

recursive-include pedantmark *.c *.h
recursive-include cmark-gfm/src *.c *.h *.inc
recursive-include cmark-gfm/extensions *.c *.h
recursive-include vendors *.h

# Include cmark licensing information
include cmark-gfm/COPYING
